.registration-form-block {
  width: 100%;

  // @media (min-width: $template1400) {
  //   width: 45%;
  // }

  form {
    margin: 0;
    padding: 0 20px;
  }

  .title {
    color: #ff8698;
    font-size: 22px;
    margin-bottom: 17px;
    font-weight: 600;
    text-align: left;

    @media (min-width: $template1400) {
      font-size: 36px;
      margin-bottom: 35px;
    }
  }

  .form-message {
    margin-bottom: 20px;
    color: white;
  }

  .cost-block {
    color: #fff;
    background-color: #17314d;
    padding: 13px 10px 11px 10px;
    border: 1px dashed #cdd9e8;
    margin-bottom: 32px;

    @media (min-width: $template1400) {
      padding: 27px 30px 30px 30px;
      margin-bottom: 54px;
    }
    span {
      display: block;

      font-size: 13px;
      line-height: 1.8;

      @media (min-width: $template1400) {
        display: inline-block;
        font-size: 16px;
        line-height: 1;
      }

    }

    .separator {
      display: none;

      @media (min-width: $template1400) {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

  .field-block {
    margin-bottom: 20px;
    box-sizing: border-box;

    width: 100%;

    @media (min-width: $template1400) {
      width: 48%;
      float: left;
      margin-bottom: 30px;

      &:nth-child(2n) {
        float: right;
      }
    }

    label {
      display: block;
      color: #fff;
      font-size: 13px;
      margin-bottom: 12px;

      font-weight: 600;

      @media (min-width: $template1400) {
        font-size: 17px;
        margin-bottom: 12px;
      }
      
    }

    select,
    input {
      background-color: transparent;
      height: 52px;
      border-radius: 6px;
      border: 1px solid #3b638d;
      padding-left: 21px;
      padding-right: 21px;
      box-sizing: border-box;

      color: white;
      font-size: 14px;

      width: 100%;

      @include input-placeholder {
        color: rgba(255, 255, 255, 0.4);
      }

      @media (min-width: $template1400) {
        height: 66px;
        font-size: 16px;
        padding-left: 24px;
      }
      
    }

    select {
      background-image: url('/ico/dropdown.svg');
      background-repeat: no-repeat;
      padding-right: 40px;
      background-position: right 10px bottom 50%;
      background-size: 20px;
    }
    select option {
      color: $color-theme-2;
    }
  }

  .agree-row {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 1.9;
    color: #fff;
    clear: both;
    opacity: 0.76;

    padding-top: 14px;
    padding-left: 3px;

    @media (min-width: $template1400) {
      // padding-top: 49px;
      padding-top: 14px;
      margin-bottom: 44px;
      font-size: 16px;
      line-height: 2;
      padding-left: 0;
    }
  }

  .button-row {
    .button {
      display: block;
      width: 100%;
      font-size: 15px;
      height: 52px;
      line-height: 52px;
      margin: 0;

      @media (min-width: $tabletVMin) {
        display: block;
        width: 180px;
        font-size: 15px;
        height: 52px;
        line-height: 52px;
      }
      @media (min-width: $template1400) {
        display: block;
        font-size: 18px;
        width: 352px;
        height: 66px;
        line-height: 66px;
        border-radius: 6px;
        padding-left: 29px;
        padding-right: 29px;
      }
      
    }
  }
}
