.header-first-page {
  // padding-top: 43px;
  // height: 127px;
  background-color: #f5faff;
  // padding-left: 21px;
  // padding-right: 16px;
  border-bottom: 13px solid #e2e2e2;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  padding-top: 25px;
  height: 100px;

  @media (min-width: $tabletVMin) {
    padding-top: 28px;
    // height: 140px;
    height: 112px;
  }

  @media (min-width: $template1400) {
    // padding-left: 58px;
    // padding-right: 70px;
  }

  .logo-01 {
    float: left;
    width: 183px;
    // height: 41px;
    height: 43px;
    background-position: 50% 50%;
    background-size: 183px;

    @media (min-width: $template1400) {
      // width: 326px;
      // height: 52px;
      // background-size: 326px;
    }
  }

  .button {
    float: right;
    height: 41px;
    line-height: 41px;
    width: 119px;
    // padding-left: 24px;
    // padding-right: 24px;
    // font-size: 14px;
    font-size: 11px;

    @media (min-width: $tabletVMin) {
      font-size: 14px;
      width: 160px;
    }

    @media (min-width: $template1400) {
      // font-size: 24px;
      // font-stretch: normal;
      // font-style: normal;
      // line-height: 3.33;
      // letter-spacing: -0.48px;
      // width: 236px;
      // height: 68px;
      // line-height: 68px;
      // position: relative;
      // top: -13px;
    }
  }

  // Page scroll progressbar
  progress {
    position: fixed;
    left: 0;
    width: 100%;
    height: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: $color-theme-2;

    top: 87px;

    @media (min-width: $tabletVMin) {
      top: 99px;
    }
  }

  progress::-webkit-progress-bar {
    background: transparent;
    border-radius: 0 5px 5px 0;
  }

  progress::-webkit-progress-value {
    background: $color-theme-2;
    border-radius: 0 5px 5px 0;
  }
  progress::-moz-progress-bar {
    background: $color-theme-2;
    border-radius: 0 5px 5px 0;
  }
  .progress-container {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    display: block;
  }

  .progress-bar {
    background: $color-theme-2;
    width: 0%;
    display: block;
    height: inherit;
  }
}
