APP_NAME="Boston Firearms"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

USER_SUPER_ADMIN_EMAIL=admin@bostonfirearms.com
USER_SUPER_ADMIN_PASSWORD=

USER_ADMIN_EMAIL=superadmin@bostonfirearms.com
USER_ADMIN_PASSWORD=

USER_INSTRUCTOR_EMAIL=instructor@bostonfirearms.com
USER_INSTRUCTOR_PASSWORD=

#SquareUP SANDBOX
SQUARE_ACCESS_TOKEN=EAAAELll7JV474VBBIBazwiHVQj9Gao0y4Q9mpbr3KErltA6fdQj7MNA1_siqM1I
SQUARE_APP_ID=sandbox-sq0idb-QfdBCBDM81GeO484f--BcA
SQUARE_LOCATION_ID=DJKRXV334387E
#SquareUP LIVE
#SQUARE_ACCESS_TOKEN=EAAAEBlilzP1DcVNVeTokntAd5FB6tC4W19DtFYMTJimpgAOVqHNRjzy6UzS73rH
#SQUARE_APP_ID=sq0idp--T9qdG9bRj1pti5nZIw-_g
#QUARE_LOCATION_ID=8746D3GCFH677

#Paypal Sandbox
PAYPAL_SIGNATURE=A8BBchaRz-SbDXgeKu7HKJ2MAdqGAz0ozn00sStCw4z.SFZUZERckM51
PAYPAL_USERNAME=paypal.tester_api1.giantleaplab.com
PAYPAL_PASSWORD=LKD5B28FF8GD7XP4
#Paypal LIVE
#PAYPAL_SIGNATURE=AXGu1aLOxmUlbCqha4EBjVyBHPgcAFXgCuMWzCFQcW6SbFgt0xJc68Wg
#PAYPAL_USERNAME=tomcheffro_api1.gmail.com
#PAYPAL_PASSWORD=ERJ3EMP69DGCJKX3



#SendGrid
SENDGRID_API_KEY=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
SENDGRID_EMAIL_FROM=alexander.c@giantleaplab.com
SENDGRID_EMAIL_ADMIN=alexander.c@giantleaplab.com
SENDGRID_ADMIN_TEMPLATE_ID=d-7e27d7b80da54e63b3c3d9bbcd936c83
SENDGRID_CLIENT_TEMPLATE_ID=d-7e27d7b80da54e63b3c3d9bbcd936c83
SENDGRID_UPCOMING_TEMPLATE_ID=d-7e27d7b80da54e63b3c3d9bbcd936c83

#Twillo
TWILIO_ACCOUNT_SID=ACbbae6d2bba46925243351974c19592f6
TWILIO_AUTH_TOKEN=37829f3f7ef75b9d062496ed80103b1e
TWILIO_SMS_FROM=whatsapp:+14155238886

COURSE_LOCATION="Boston Firearms"
EVENT_BASIC=1
EVENT_MULTI=2
