// Common style START
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */
}
#event-days-calendar {
  // font-family: Asap, Helvetica, Arial;
  // font-family: $font700;
  font-family: $font500;
  margin: 0 auto;
  // width: 294px;
}
#event-days-calendar .clndr {
  overflow: hidden;
  // border-bottom: 7px solid #69a776;
}
#event-days-calendar .clndr .controls {
  // background-color: #69a776;
  color: white;
}
#event-days-calendar .clndr .controls .clndr-previous-button,
#event-days-calendar .clndr .controls .clndr-next-button {
  width: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#event-days-calendar .clndr .controls .clndr-previous-button:hover,
#event-days-calendar .clndr .controls .clndr-next-button:hover {
  background-color: #528b5e;
}
#event-days-calendar .clndr .controls .month {
  width: 70%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
#event-days-calendar .clndr .days-container {
  position: relative;
  // width: 294px;
  // height: 213px;
  display: inline-block;
}
#event-days-calendar .clndr .days-container .days {
  position: absolute;
  left: 0;
  // width: 294px;
  // height: 217px;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  // background-color: #ebebeb;
}
#event-days-calendar .clndr .days-container .days .day,
#event-days-calendar .clndr .days-container .days .empty {
  width: 70px;
  height: 70px;
  display: inline-block;
  padding-top: 23px;
  font-size: 12px;
  text-align: center;
  color: #212121;

  &:nth-child(7n) {
    width: 69px;
  }

  @media (max-width: $mobileResponsiveMax) {
    width: 47px;
    height: 47px;
    padding-top: 15px;

    &:nth-child(7n) {
      width: 46px;
    }
  }
}
#event-days-calendar .clndr .days-container .days .day.event,
#event-days-calendar .clndr .days-container .days .empty.event {
  // background-color: #d2d2d2;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}
#event-days-calendar .clndr .days-container .days .day.event:hover,
#event-days-calendar .clndr .days-container .days .empty.event:hover {
  background-color: #b8b8b8;
}
#event-days-calendar .clndr .days-container .days .day.adjacent-month,
#event-days-calendar .clndr .days-container .days .empty.adjacent-month {
  color: rgba(0, 0, 0, 0.3);
}
#event-days-calendar .clndr .days-container .days .empty {
  height: 31px;
  vertical-align: bottom;
}
#event-days-calendar .clndr .days-container .days .headers {
  background-color: #97ce7f;
  padding-top: 5px;
  padding-bottom: 5px;
}
#event-days-calendar .clndr .days-container .days .headers .day-header {
  // width: 42px;
  width: 70px;
  display: inline-block;
  text-align: center;
  color: white;
}
#event-days-calendar .clndr .days-container .events {
  position: absolute;
  // left: 294px;
  // left: 300px;
  // height: 217px;
  left: 490px;
  width: 490px;
  height: 490px;

  @media (max-width: $mobileResponsiveMax) {
    left: 329px;
    width: 329px;
    height: 360px;
  }

  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  // background-color: #ebebeb;
  background-color: white;
}
#event-days-calendar .clndr .days-container .events .headers {
  position: relative;
}
#event-days-calendar .clndr .days-container .events .event-header {
  width: 100%;
  // background-color: #97ce7f;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  // color: white;
}
#event-days-calendar .clndr .days-container .events .x-button {
  // position: absolute;
  // font-size: 80%;
  // top: 7px;
  // left: 20px;
  cursor: pointer;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
#event-days-calendar .clndr .days-container .events .x-button:hover {
  color: white;
}
#event-days-calendar .clndr .days-container .events .events-list {
  // overflow: scroll;
  // height: 185px;
  // overflow: hidden;
  height: 200px;
}
#event-days-calendar .clndr .days-container .events .events-list .event {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
#event-days-calendar .clndr .days-container .events .events-list .event:hover {
  background-color: #f5f5f5;
}
#event-days-calendar .clndr .days-container .events .events-list .event a {
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: transparent;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
#event-days-calendar
  .clndr
  .days-container
  .events
  .events-list
  .event
  a:hover {
  background-color: transparent;
  color: #69a776;
}
#event-days-calendar .clndr .days-container.show-events .days {
  // left: -294px;
  left: -300px;
}
#event-days-calendar .clndr .days-container.show-events .events {
  left: 0;
}
// Common style END

#event-days-calendar .clndr {
  // Calendar START

  // $calendar-width                 : 294px;
  // $calendar-width: 296px;
  $calendar-width: 490px;
  $calendar-width--mobile: 329px;

  width: $calendar-width;
  margin: auto;
  display: block;

  @media (max-width: $mobileResponsiveMax) {
    width: $calendar-width--mobile;
  }

  .days-container {
    // width: 294px;
    // height: 213px;
    // height: 320px;
    width: $calendar-width;
    height: 540px !important;

    @media (max-width: $mobileResponsiveMax) {
      width: $calendar-width--mobile;
      height: 400px !important;
    }

    // Month Row
    .controls {
      background-color: #f5faff;
      display: flex;

      .month,
      .clndr-next-button,
      .clndr-previous-button {
        background-color: #f5faff;
        height: 48px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;

        &.inactive {
        }
      }

      .month {
        padding-top: 8px;
      }
    }

    // Says Row
    .days {
      width: $calendar-width;
      // width: 300px;
      // height: 217px;
      height: auto;

      @media (max-width: $mobileResponsiveMax) {
        width: $calendar-width--mobile;
      }

      .headers {
        display: flex;
        padding: 0;
        height: 68px;
        align-items: center;
        background-color: #f5faff;
        color: black;
        border-top: 10px solid white;
        border-bottom: 10px solid white;

        .day-header {
          color: black;
          font-weight: 500;
        }
      }

      .days-grid {
        border-top: 1px dashed #cdd9e8;
        border-left: 1px dashed #cdd9e8;
        // width: 296px;
        width: $calendar-width;
        background: white;

        @media (max-width: $mobileResponsiveMax) {
          width: $calendar-width--mobile;
        }
      }

      // Day style
      .day {
        border-right: 1px dashed #cdd9e8;
        border-bottom: 1px dashed #cdd9e8;
        background-color: #fff;
        color: rgba(0, 0, 0, 0.2);
        font-size: 20px;
        font-weight: 500;

        @media (max-width: $mobileResponsiveMax) {
          font-size: 12px;
        }

        &.event {
          color: black;

          &:hover {
            background-color: $color-theme;
            color: #fff;
          }
        }

        &.today,
        &.selected {
          position: relative;

          &:after {
            display: block;
            content: '';
            width: 10px;
            height: 10px;
            margin-left: -5px;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            bottom: 7px;
            background-color: $color-theme;

            @media (max-width: $mobileResponsiveMax) {
              width: 6px;
              height: 6px;
              margin-left: -3px;
            }
          }
        }
      }
    }

    // When we see events
    &.show-events {
    }

    // Events section
    .events {
      .headers {
        display: flex;
        padding: 0;
        height: 68px;
        align-items: center;
        background-color: #f5faff;
        color: black;
        border-top: 10px solid white;
        border-bottom: 10px solid white;
        flex-direction: row;

        .event-header {
        }

        .x-button {
          position: absolute;
          font-size: 16px;
          display: block;
          top: 0px;
          right: 0px;
          width: 48px;
          height: 48px;
          cursor: pointer;
          -webkit-transition: color 0.25s;
          -moz-transition: color 0.25s;
          -ms-transition: color 0.25s;
          -o-transition: color 0.25s;
          transition: color 0.25s;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .events-list {
        background-color: white;
        padding: 10px;
        border: solid 1px #cdd9e8;

        font-size: 16px;

        div {
          margin-bottom: 20px;
        }
        a {
          font-family: $font;
          font-weight: 400;
          margin-bottom: 15px;
          display: block;
          color: $color-theme;

          &:hover {
            color: $color-theme;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }

  // Calendar END
}

.event-days-calendar-wrap {
  padding-right: 24px;
  padding-bottom: 10px;

  @media (min-width: $tabletVMin) and (max-width: $tabletVMax) {
    // zoom: 1.3;
  }
}
